<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Vehicle details
    <form  method="POST">
        {% csrf_token %}
        <br />
        <input type="text" name="assetid" placeholder="assetid" required>
        <br />
        <input type="text" name="assetName" placeholder="assetName" required>
        <br />
        <input type="text" name="numberPlate" placeholder="numberPlate" required>
        <br />
        <input type="text" name="driverName" placeholder="driverName" required>
        <br />
        <input type="submit" value="Submit"> 
    </form>
</body>
</html>